@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

body {
  background: linear-gradient(180deg, #f8f2ff 0%, rgba(250, 250, 250, 0) 100%);
  backdrop-filter: blur(250px);
  background-repeat: no-repeat;
  font-family: Poppins;
  /* position: relative; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.heading-name {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 10px;
  font-weight: 500;
}

.menu-list {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 30px;
  align-items: center;
  margin: auto;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  background: #f5edff;
  border-radius: 178px;
}

ul li {
  padding: 5px;
  font-size: 12px;
  color: #af48ff;
}

.profile-box {
  background: #ffffff;
  box-shadow: 0px 40px 30px rgba(25, 25, 46, 0.04);
  border-radius: 13px;
  height: 215px;
  width: 215px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 30px;
}

.profile-box-items {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.profile-box-items img {
  width: 80px;
  height: 80px;
  mix-blend-mode: normal;
  filter: drop-shadow(0px 10px 20px rgba(0, 59, 108, 0.13));
  border-radius: 42px;
}

.profile-bio-text {
  width: 140px;
  height: 20px;
  font-size: 15px;
  line-height: 10px;
  text-align: center;
  margin-top: 25px;
  color: #25323d;
}

.profile-bio-text p:last-child {
  color: #859fb4;
}

.purple-blob {
  background: linear-gradient(135deg, #ff26b2 0%, #851bd9 64.06%, #3f0fff 100%);
  box-shadow: 0px 5px 20px rgba(250, 118, 96, 0.2);
  border-radius: 66px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 10px;
  position: absolute;
  top: 175px;
  color: white;
  font-size: 8px;
}

.body-blurb h1 {
  display: none;
}

.profile-contact-info a {
  text-decoration: none;
  color: #af48ff;
}

.body-blurb {
  margin: 10px 40px;
  text-align: left;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #5d87a8;
}

.profile-contact-info {
  display: none;
}

.recent-project-txt {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #5d87a8;
  margin-left: 35px;
}

.projects {
  display: flex;
  flex-direction: column;
}

.project1 {
  background: #ffffff;
  box-shadow: 0px 40px 30px rgba(25, 25, 46, 0.15);
  border-radius: 6px;
  width: 350px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  overflow: hidden;
  transition: 400ms;
  /* background-image: url("https://www.multimediasolutions.com/media/102990/website-design.jpg?anchor=center&mode=crop&width=940&height=432&rnd=131964461010000000"); */
}

.project1:hover {
  box-shadow: inset 0 0 0 100px #000;
  color: white;
}

.project1-text img {
  background-position: 0, 0;
  transform: rotate(30deg);
  object-fit: contain;
  display: flex;
  margin-left: 170px;
  margin-bottom: 140px;
  width: 150%;
}

.project1-text {
  display: block;
  margin-top: 350px;
  margin-left: 20px;
}

footer {
  margin-top: auto;
  background-color: #e7eff4;
}

.footer-bio {
  display: flex;
  justify-content: space-between;
  margin: 0 35px;
  align-items: center;
  font-size: 12px;
  color: #5e87a8;
}

.footer-icons {
  display: flex;
  margin-right: 0;
}

.desktop-nav {
  display: none;
}

.floating-icons {
  display: none;
}

.project3 {
  margin: 20px auto 50px auto;
}

.btn {
  align-items: center;
  background-color: #f4eefb;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #af48ff;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 24px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;

  margin: 0 auto;
}
.btn:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 24px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.btn:hover:after {
  transform: translate(0, 0);
}

.btn:active {
  background-color: #ffdeda;
  outline: 0;
}

.btn:hover {
  outline: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  max-height: 100%;
  overflow: hidden;
}

.modal-content {
  background-color: white;
  position: absolute;
  top: 20%;
  left: 30%;
  width: 40%;
  padding: 20px;
  border-radius: 3px;
  border: 10px solid;
  border-image: linear-gradient(to left, #743ad5, #d53a9d);
  border-image-slice: 1;
  border-width: 5px;
  margin: 0 auto;
}

.close {
  color: Black;
  float: right;
}

.close:hover {
  color: purple;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 40px;
}

.modal-content h2 {
  padding: 20px 40px;
  border-bottom: 1px solid #f0f0f0;
  margin: 15px 0;
  overflow: hidden;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 25px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  font-family: inherit;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control textarea {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  font-family: inherit;
}

textarea {
  height: 70px;
}

.form-control i {
  position: absolute;
  top: 35px;
  right: -10px;
  visibility: hidden;
}

.form-control.success i.fa-check-circle {
  visibility: visible;
  color: #2ecc71;
}

.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-control small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
  color: #e74c3c;
}

.form button {
  background-color: #8e44ad;
  border: 2px solid #8e44ad;
  color: #fff;
  display: block;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  text-align: center;
}

.form button:hover {
  background-color: rgba(25, 25, 46, 0.15);
  color: black;
  cursor: pointer;
}

/********* MEDIA QUERY *********/

@media (min-width: 1025px) {
  body {
    margin-left: 35px;
    margin-right: 35px;
  }

  .floating-icons {
    display: block;
  }

  .intro-section {
    margin-top: 80px;
  }

  .body-blurb h1 {
    font-size: 45px;
    padding-bottom: 20px;
  }

  .body-blurb p {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .desktop-heading {
    display: flex;
    margin: 25px 35px;
    align-items: center;
  }
  .menu-list {
    display: flex;
    margin-left: 55px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
  }

  .mobile-icons {
    display: none;
  }

  .navigation a {
    padding: 5px;
    font-size: 12px;
    color: #af48ff;
    text-decoration: none;
    margin: 0;
    height: 30px;
  }
  .desktop-nav {
    display: flex;
    align-items: center;
    font-size: 12px;
  }
  .project3 {
    margin: 20px auto;
  }

  .body-blurb {
    width: 50%;
  }

  .body-blurb h1 {
    display: block;
    color: black;
  }

  .projects {
    display: flex;
    flex-direction: row;
    margin: 40px 0 40px 0;
    align-items: center;
  }

  .profile-contact-info {
    display: flex;
    margin: 10px 40px;
    text-align: left;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: -0.02em;
    color: #5d87a8;
    padding-top: 30px;
    justify-content: space-between;
    width: 45%;
    line-height: 100%;
  }

  .purple-blob {
    top: 100px;
  }

  .recent-project-txt {
    margin: 90px 70px;
  }

  .profile-box {
    position: absolute;
    height: 250px;
    left: 72.27%;
    right: 18.44%;
    top: 222px;
    width: 250px;
  }

  .project1 {
    width: 450px;
  }

  .floating-html {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 24px;
    position: absolute;
    width: 45px;
    height: 30px;
    left: -48px;
    top: -84px;
    background: #ffffff;
    box-shadow: 0px 40px 30px rgba(25, 25, 46, 0.15);
    border-radius: 16px;
    background-image: url("../img/html.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px 40px;
    animation: float 8s ease-in-out infinite;
  }

  .floating-css {
    background-image: url("../img/css.png");
    top: 110px;
    left: -80px;
    animation: float 10s ease-in-out infinite;
  }

  .floating-js {
    background-image: url("../img/js.png");
    top: -70px;
    left: 210px;
    animation: float 5s ease-in-out infinite;
  }

  .floating-ecomm {
    top: 130px;
    left: 235px;
    background-image: none;
    width: 95px;
    font-size: 14px;
    text-align: center;
    animation: changeBg 5s infinite;
    /* width: 48px;
    height: 48px; */
  }

  .floating-email-marketing {
    top: 260px;
    left: 135px;
    background-image: none;
    width: 95px;
    font-size: 14px;
    text-align: center;
  }

  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes changeBg {
    0% {
      font-size: 14px;
    }
    50% {
      background-image: url("../img/shopify.png");
      background-size: 48px 48px;
      font-size: 0px;
    }
    100% {
      font-size: 14px;
    }
  }
  .static {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    position: absolute;
    width: 20px;
    height: 25px;
    left: -28px;
    top: 15px;
    background: #e4eef7;
    box-shadow: 5px 40px 30px rgba(25, 25, 46, 0.04);
    border-radius: 20px;
  }

  .static-github {
    top: 230px;
    left: 10px;
    background-color: #e4eef7;
  }

  .btn {
    align-items: center;
    background-color: #f4eefb;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #af48ff;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .btn:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform 0.2s ease-out;
    z-index: -1;
  }

  .btn:hover:after {
    transform: translate(0, 0);
  }

  .btn:active {
    background-color: #ffdeda;
    outline: 0;
  }

  .btn:hover {
    outline: 0;
  }
}
